{% extends "AppFrontEndBundle::layout.html.twig" %}


{% block content %}


    Hello Bundle!
   <a href="{{ path('app_front_end_send') }}" class="nav4">Письмо</a>
   <a href="{{ path('app_front_end_pag') }}" class="nav4">Пагинация</a>
   <a href="{{ path('app_front_end_bread') }}" class="nav4">Хлебные</a>
{% endblock %}
