<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}

    {% endblock %}

</head>


<body>

    {% block body %}


        {% block content_header %}
        {% endblock %}

        {% block content %}{% endblock %}


    {% endblock %}

</body>
<script>
    var pathajax="{{ path('app_front_end_ajax') }}";
</script>
{% block jscript %}

{% endblock %}
</html>