<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        <link rel="stylesheet" href="#" />
    {% endblock %}
    {% block title 'Home page' %}
</head>


<body>

    {% block body %}


        {% block content_header %}
        {% endblock %}

        {% block content %}{% endblock %}


    {% endblock %}

</body>

{% block jscript %}

{% endblock %}
</html>